{% extends "Pape/base.html"%}
{% load static %}
{%block contenido%}

<main>
<!--Contenedor de la barra de navegación-->  
<div class="container pt-5 ">
  <!-- Barra de navegacion-->
  <nav class="navbar navbar-expand-lg navbar-dark mt-4 mb-2 shadow p-2 " style="background-color: #607D8B">
    <!-- Contenedor que centra las categorias -->
    <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'inicio' %}">Categorias:</a>

    <!-- Boton que muestra el menú conforme cambia la pantalla de tamaño -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-mdb-toggle="collapse" 
      data-mdb-target="#navbarSupportedContent2" 
      aria-controls="navbarSupportedContent2" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    
    
    <!-- Boton que muestra el menú conforme cambia la pantalla de tamaño -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <!-- No voy a poner las categorias aqui por el moento pero lo dejo para mejorar la interfaz -->
    <!-- Ligas para las categorias -->
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">    -->
      
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="#"> Artículos escolares </a>
      </li> -->
      
    <!-- No voy a poner las categorias aqui por el moento pero lo dejo para mejorar la interfaz -->
    
    <!-- Boton de busqueda -->
    <form class="navbar-form d-flex align-items-center " method="GET" action = "{% url 'buscar'%}" >
      <div class="form-group float-end">
        <input type="text" class="form-control" placeholder="Buscar producto" name="buscar">
      </div>
      <button  type="submit" class="btn btn-secondary ">
        <ion-icon name="search-circle-outline"></ion-icon>
      </button>    
    </form>
    <!-- Boton de busqueda -->

    </div>
    <!-- Boton que muestra el menú conforme cambia la pantalla de tamaño -->
    
    </div>
    <!-- Contenedor que centra las categorias -->    
  </nav>
  <!-- Barra de navegacion-->

  <!-- Productos -->
    <section>
      <div class="text-center">
        <div class="row">
          
          {% for producto in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">                
                <a href="{% url 'categorias' producto %}">
                  <img src="{% static 'img/default.jfif' %}" class="w-100"/>                  
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <!--<h5><span class="badge bg-dark ms-2 {{ producto.etiqueta }}-color"> </span></h5>-->
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">                
                <a href="{% url 'categorias' producto %}" class="text-reset ">                  
                  <h5>{{ producto }}</h5>
                </a>                
              </div>
            </div>
          </div> 
          {% endfor %}     
      </div>  
  </section>
</div>

{% if is_paginated %}
  <!-- Pagination -->
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      
      <li class="page-item active">
        <a class="page-link" href="?page={{ page_obj.number}}">{{ page_obj.number}}</a>
      </li>
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>  
  <!-- Pagination -->
  {% endif %}
  
</main>

{%endblock%}
