{% extends "Pape/base.html" %}

{% block contenido %}
    <div class="content-section pt-5" >
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.perfil.imagen.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Información del perfil</legend>
              {{ u_forma.as_p }}
              {{ p_forma.as_p }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Actualizar</button>
          </div>
      </form>    
    </div>
{% endblock contenido %}
